<section data-ng-controller="HomeController">
	<div id="home_bg">

		<div class="jumbotron">
	    	<div class="container">
	    		<div id="landing_page">
		    	    <div id="instashare">
		    	   		<img id="instasharelogo" src="modules/core/img/brand/instashare.png" alt="logo" ng-hide="authentication.user._id" />
		    	   	</div>
			       <section class="row" id="home_form" data-ng-controller="AuthenticationController">
				        <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
				        <fieldset>
							<div class="form-group">
								<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username" ng-hide="authentication.user._id">
							</div>
							<div class="form-group">
								<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password" ng-hide="authentication.user._id">
							</div>
							<div class="text-center form-group">
								<button type="submit" class="btn btn-primary" ng-hide="authentication.user._id">Log in</button>
							</div>

							</fieldset>
						</form>
					</section>
				</div>

	    	</div>

	    	<!--Users Timeline-->
	    	<h1 ng-show="authentication.user._id">Timeline</h1>

	    	<section data-ng-controller="ArticlesController" data-ng-init="find()">
		    	<section data-ng-controller="PhotosController" data-ng-init="find()">
					<div class="list-group" ng-show="authentication.user._id">
						<div class="col-lg-6">
							<h2>Posts</h2>
						<a data-ng-repeat="article in articles" data-ng-href="#!/articles/{{article._id}}" class="list-group-item">
							<small class="list-group-item-text">
								Posted on
								<span data-ng-bind="article.created | date:'medium'"></span>
								by
								<span data-ng-bind="article.user.displayName"></span>
							</small>
							<h4 class="list-group-item-heading" data-ng-bind="article.title"></h4>
							<p class="list-group-item-text" data-ng-bind="article.content"></p>
						</a>
					</div>
					<div class="col-lg-6">
						<h2>Photos</h2>
				        <a data-ng-repeat="photo in photos" data-ng-href="#!/photos/{{photo._id}}" class="list-group-item">
							<small class="list-group-item-text">
								Posted on
								<span data-ng-bind="photo.created | date:'medium'"></span>
								by
								<span data-ng-bind="photo.user.displayName"></span>
							</small>
							<h4 class="list-group-item-heading" data-ng-bind="photo.name"></h4>
							<image src="{{photo.image}}" style="max-width:100%" />
				        </a>
				    </div>
			    	</div>
			    </section>
			</section>
	    <!-- End of Users Timeline-->
	    </div>
	</div>
</section>