<section data-ng-controller="HomeController">
	<div id="home_bg">

		<div class="jumbotron">

	    	<!--Users Timeline-->
	    	
			<h1 class="timeline">Timeline</h1>	    	
	    	<div class="timelineContent">
	    	<section data-ng-controller="ProfilesController" data-ng-init="find()">

	    		<div id="login_profile_notuser" ng-hide="authentication.user._id">
					<div class="login_profile profile col-md-3">
						<div id="home_page_login">
				    	    <div id="instashare">
				    	   		<img id="instasharelogo" src="modules/core/img/brand/instashare.png" alt="logo" ng-hide="authentication.user._id" />
						        <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
				    	   	</div>
					       <section class="row" id="home_form" data-ng-controller="AuthenticationController">
						        <fieldset>
									<div class="form-group login_form">
										<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username" ng-hide="authentication.user._id">
									</div>
									<div class="form-group login_form">
										<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password" ng-hide="authentication.user._id">
									</div>
									<div class="text-center form-group" id="button_login">
										<button type="submit" class="btn btn-primary login_form" ng-hide="authentication.user._id">Log in</button>
									</div>

									</fieldset>
								</form>
							</section>
						</div>	
					</div>
				</div>


	    		<div id="profile_show_foruser" ng-show="authentication.user._id">
				    <div class="profile">
					    <div class="profile col-md-3" style="margin-left: -25px;">
					    <div class="page-header TLHeader">
					        <h2><span data-ng-bind="authentication.user.displayName"></span>'s Profile</h2>
					    </div>
					    <img class="center-block" style="padding-top: 15px;" src="modules/core/img/brand/profile_img.png">
						    <div>
						        <h2>Username: </h2><h3><span data-ng-bind="authentication.user.username"></span></h3>
						        <h2>Email:</h2><h3><span data-ng-bind="authentication.user.email"></span></h3>
						        <h2>Gender: </h2><h3><span data-ng-bind="authentication.user.gender"></span></h3> 
						        <h2>About <span data-ng-bind="authentication.user.firstName"></span>:</h2><h3><span class="about" data-ng-bind="authentication.user.about"></h3>  
						        <br>
						    </div>
						</div>
					</div>
				</div>
			</section>
	    	<section data-ng-controller="ArticlesController" data-ng-init="find()">
		    	<section data-ng-controller="PhotosController" data-ng-init="find()">
					<div class="list-group">
						<div class="col-lg-4" style="margin-left: 17px;">
							<h2>Posts</h2>
						<a data-ng-repeat="article in articles" data-ng-href="#!/articles/{{article._id}}" class="list-group-item">
							<small class="list-group-item-text">
								Posted on
								<span data-ng-bind="article.created | date:'medium'"></span>
								by
								<span data-ng-bind="article.user.displayName"></span>
							</small>
							<h4 class="list-group-item-heading" data-ng-bind="article.title"></h4>
							<p class="list-group-item-text" data-ng-bind="article.content"></p>
						</a>
					</div>
					<div class="col-lg-5" style="margin-left: 4px;">
						<h2>Photos</h2>
				        <a data-ng-repeat="photo in photos" data-ng-href="#!/photos/{{photo._id}}" class="list-group-item">
							<small class="list-group-item-text">
								Posted on
								<span data-ng-bind="photo.created | date:'medium'"></span>
								by
								<span data-ng-bind="photo.user.displayName"></span>
							</small>
							<h4 class="list-group-item-heading" data-ng-bind="photo.name"></h4>
							<image src="{{photo.image}}" style="max-width:100%" />
				        </a>
				    </br>
			    </section>
			</section>
	    <!-- End of Users Timeline-->
	    </div>
	</div>
</section>
</div>