.content {
	margin-top: 220px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

#logo {
	width: 75%;
}

.navbar-header {
	height: 100px;
	padding-bottom: 40px;
}

.navbar-nav {
	margin-top: 30px;
}

.page-body img {
	width: 50%;
	border: 15px solid white;
}

#photo_stats {
	width: 520px;
}

.page-body {
	width: 1050px;
  	margin-left: auto;
  	margin-right: auto;
}
.list-group-item{
	padding: 5px;
	width: 100%;
	margin-bottom: 10px;
	padding-bottom: 20px;
}

.list_center {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

.photos_display {
	width: 20%;
  	margin-left: 0;
  	display: -webkit-inline-box;
}

.separate_photos {
	margin-right: 20px;
}

#photos_container {
	max-width: 1200px;
	overflow: scroll;
  	height: 415px;
  	margin-bottom: 80px;
}

.photos_list_body {
	margin-top: -100px;
}

<<<<<<< Updated upstream
.timelineContent{
	margin-top: -10px;
}

.profile h3{
	font-size: 14px;
	padding: 0!important;
	margin: 0;
	font-weight: 200;
}

.profile h2{
	font-weight: 300;
	color: #FFFFFF;
	font-size: 16px;

}

.TLHeader{
	margin: 0;
	padding:0;
}

.profile{
	background-color: #032340;
	/*padding: 5px;
	padding-bottom: 30px;*/
	height: auto;
	margin-top:20px;
	padding-top: 0;
}

.profile{
	/*margin-top: -20px;*/
}

.timeline{
	padding: 0;
	margin: 0;
}

.timelineContent{
	margin-top: 0px;
}
#photos_container {
 	max-width: 1200px;
 	overflow: scroll;
   	height: 410px;
   	margin-bottom: 80px;
}

.please_log_in p {
	color: #ccc;
  	text-align: center;
}

.login_profile {
	background-color: #032340;
	padding: 5px;
	padding-bottom: 30px;
	height: auto;
	margin-top:20px;
	padding-top: 0;
}

#home_page_login {
	margin-top: 12px;
}

.login_form {
	width: 170px;
}

.login_form_button {
	width: 170px;
}

#button_login {
	margin-left: -28px;
}